/*
WEDDING COLORS ARE:
PRIMARY: #D81E40 (red), #8DAECD (blue)
SECONDARY: #7B050D (red), #627A5C (green), #F5E1E3 (white-ish)
*/
img {
    max-width: 100%;
    height: auto;
    
    
}

.wed-red {
    background-color: #D81E40;
}

.wed-blue {
   background-color: #8DAECD;
}

.wed-white {
    background-color: #F5E1E3;
    color: black;
}



.no-bottom-margin {
    margin-bottom: 0px;
}

@font-face {
    font-family: "FairfaxStationNF";
    src: url("fonts/FairfaxStationNF.ttf");
    src: url("../fonts/FairfaxStationNF.otf") format("opentype");
    font-family: "AbrilFatface-Regular";
    src: url("../fonts/AbrilFatface-Regular.ttf");
}

p {
    font-size: 16px;
    font-family: "FairfaxStationNF", arial;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "AbrilFatface-Regular";
}


a {
  color: #7B050D;
}


#accommodations {
    color: #F5E1E3; 
    background-image: url(../img/bmoreskyline-bw-blur.png);
}







/*START CSS CAROUSEL*/

.carousel-fade {
    .carousel-inner {
/*        width: 30%;
*/        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background-image: url(http://via.placeholder.com/400x400);
    width: 400px;
    height: 400px;
}

.item:nth-child(2) {
    background: orange;
}

.item:nth-child(3) {
    background: yellow;
}

.item:nth-child(4) {
    background: green;
}

.item:nth-child(5) {
    background: blue;
}

.item:nth-child(6) {
    background: white;
}

.item:nth-child(7) {
    background: purple;
}

.item:nth-child(8) {
    background: black;
}

.item:nth-child(9) {
    background: gray;
}

/* END CAROUSEL CSS */
